{% extends "base.html" %}

{% block content %}

<div class="container-fluid" id="about_text">
    <br>
    <p>
        This is the blog section for the D15 Movie Lovers Club. We introduced a Blog to the
        club page for our members to engage with each other more frequently and to be able to 
        chat with one another on the Blog comments. 
        We all know the best thing about movies is talking about them, so register and get commenting
        and remember, when it comes to movies, theres no bad take.
        Enjoy, have fun and above all else, be respectful.
    </p>
</div>
<script>
    document.getElementById("aboutlink").classList.add("link-active");
</script>
{%endblock%}