{% extends "base.html" %}

{% block content %}

<div class="container-fluid" id="about_text">
    <br>
    <p>
        This is the blog section for the D15 Movie Lovers Club. 
        We introduced a blog to the club page following feedback from our members. 
        Now our members can engage with each other more frequently and chat with one another 
        in the comment sections.<br>
        <br>
        The blog will cover topics such as movies, directors, actors, cinematography, 
        box office hits and flops, cult classics, hidden gems and many more! We also want to hear your 
        suggestions for future blog posts.<br>
        <br>
        We all know the best thing about movies is talking about them so register and get commenting and remember, 
        when it comes to movies there's no bad take.<br>
        <br>
        We look forward to hearing whether you agree a film deserves all the praise it regularly gets or 
        if you recommend a little-known indie title, so it's brought to new eyes.<br>
        <br>
        We welcome debates about all kinds of movie related topics but please remember that we value all opinions. 
        Enjoy, have fun and above all else, be respectful to your fellow club members.<br>
    </p>
</div>
<script>
    document.getElementById("aboutlink").classList.add("link-active");
</script>
{%endblock%}