{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in post.post_image.url %}
                <img src="https://res.cloudinary.com/dkuvdfsgf/image/upload/v1663523396/d15movieloversblogplaceholder_jypw7x.jpg" width="100%">
                {% else %}
                <img src=" {{ post.post_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body blog-card-bg">
                <p class="card-text">
                   {{ post.post_content | safe }}
                </p>
                <div class="row">

                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form action="{% url 'post_like' post.slug %}" method="POST" class="d-inline">
                                {% csrf_token %}
                                {% if liked %}

                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"
                                    aria-label="like"><i class="fas fa-heart"></i></button>

                                {% else %}

                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"
                                    aria-label="like"><i class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ post.number_of_likes }} </span>
                        </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body blog-comment-text">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body blog-comment-text-color">

                {{ comment.approved }}<br>
                {% if commented %}
                    <p class="approval">This comment is awaiting approval</p>
                    <h3>Edit your comment(max 1000 chars):</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form class="d-inline" action="" method="POST">
                        <input type="hidden" value="{{ comment.slug }}">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        
                        <button id="editButton" type="submit" class="btn btn-signup btn-lg">Edit</button>
                        <br>{{ validation_message }}
                    </form>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment(max 1000 chars):</h3>
                <p>Posting as: {{ user.username }}</p>
                <form id="commentForm" method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                    <br>{{ validation_message }}
                </form>
                {% else %}
                <h3>Log in to leave a comment</h3>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("homelink").classList.add("link-active");
</script>
{% endblock content %}